{% extends 'base.html.twig' %}

{% block title %}{{event.name}}{% endblock %}

{% block body %}
<div class="bloc-main">
    <div class="list">
        <a class="btmain center" href="{{ path('app_event_new') }}">Créer un évènement</a>
        <h2>Mes évènements : </h2>
        <ul>
            <li class="center">
                <a class="" href="{{ path('app_search')}}">Chercher un évènement</a>
            </li>
            {% for event in events %}
            <a class="js-link" href="{{ path('app_event_show', {id: event.id})}}">
                <li class="row item-li">
                    <p>
                        {% if event.imagesProfiles.name is defined %}
                        <img class="profil" src="{{ asset('profil/' ~ event.imagesProfiles.name)}}" alt="">
                        {% else %}
                        <img class="profil" src="{{ asset('images/logo.png')}}" alt="">
                        {% endif %}
                        {{ event.name }}
                        {% else %}
                        Pas d'évènement prévu
                    </p>
                </li>
            </a>
            {% endfor %}
            
        </ul>
    </div>
    <section class="team-presentation">
        {% if event.imagesProfiles is null %}
        <img src="{{ asset('images/logo.png')}}" width="200px" alt="">
        {% else %}
        <img src="{{ asset('profil/' ~ event.imagesProfiles.name)}}" width="200px" alt="">
        {% endif %}
        <h2>{{ event.name }}</h2>
        <p>{{ event.content }}</p>
        <p>{{ event.place }}</p>
        <a href="{{ path('app_event_participate', {id: event.id})}}">participer</a>

            {% if app.user.id == event.creator.id %}
            <a class="absolute-corner-right svg-menu" href="{{ path('app_event_edit', {'id': event.id}) }}">{{ include('svg/gears.html.twig') }}</a>
            {% endif %}
        <div class="user-link">
            <span class="main-link active tab" data-target="#content1"="">Posts</span>
            <span class="main-link tab" data-target="#content2"="">Participe à l'évènement</span>
        </div>

        <div class="user-contents">
            <div class="content" id="content1">

                {{ form_start(form)}}
                {{ form_widget(form)}}
                <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form)}}
            </div>
            <div class="content" id="content2">
                <h3>Ils participents à : {{ event.name }}</h3>
                {% for member in event.eventParticipates %}
                            <div class="row user-link">
                                <a class="row" href="{{ path('app_user_show', {id : member.user.id })}}">
                                    <img class="profil" src="{{ asset('profil/' ~ member.user.imagesProfiles.name)}}" alt="">
                                    <span class="user-name">{{ member.user.name }}</span>
                                </a>
                            </div>
                {% endfor %}
            </div>
    </section>
</div>
    <a href="{{ path('app_event_index') }}">back to list</a>

    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/user/tabs.js')}}"></script>
{% endblock %}
