{% extends 'base.html.twig' %}

{% block title %}profil de : {{ user.name }}{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<div class="modal-background hidden" id="modal">

    <div class="modal-content">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btvalid">{{ button_label|default('Ajouter') }}</button>
        <div id="close" class="help-close">{{ include('svg/deletecross.html.twig') }}</div>

    </div>
{{ form_end(form) }}
</div>
    <section class="bloc-full ">
        <aside id="column-left" class="bloc-column-abs">
            <div class="bloc-link-column">
                <div class="bloc-title"></div>
                <ul>
                    <li>
                        <a href="{{path('app_user_show', {id: user.id})}}" class="btmain">Retour</a>
                    </li>
                    <li>
                        <div class="btvalid" id="BtnModal">Tu ne trouves pas ton but ? Ajoutes le !</div>
                    </li>
                </ul>
            </div>
        </aside>           
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Les objectifs des utilisateurs</h2>
        {{ form_start(formUser) }}
        {{ form_widget(formUser) }}
        <div class="bloc-title">
        </div>
        <button class="btvalid">{{ button_label|default('Enregistrer mes choix') }}</button>

        {{ form_end(formUser) }}
    </section>
    </section>

    <div class="bloc-space"></div>
{% endblock %}
{% block javascripts %}
{% endblock %}