{% if app.user.isIsWelcome == true %}
<p>Parles nous de toi et des sports qui t'intéressent</p>
{% endif %}
{{ form_start(form) }}
{{ form_row(form.name) }}
<label class="input-file" for="user_image">Photo de profil</label>

{{ form_row(form.description) }}
<label for="">Mon instagram</label>
{{ form_row(form.urlInstagram) }}
<label for="">Mon facebook</label>
{{ form_row(form.urlFacebook) }}
<label for="">Mon Twitter</label>
{{ form_row(form.urlTwitter) }}
<label for="">Mon TikTok</label>
{{ form_row(form.urlTikTok) }}
<div data-id="-sports" class="accordion">Mes sports pratiqués</div>
<div class="panel" id="panel-sports">
        {{ form_row(form.sportlist) }}
</div>
{{ form_row(form.image) }}
<button class="btvalid">{{ button_label|default('Save') }}</button>
<div class="preview"></div>
{% if app.user.isIsWelcome == true %}
<button class="btmain">Remettre à plus tard</button>
{% endif %}
{{ form_end(form) }}
    