{% extends 'base.html.twig' %}

{% block title %}{{ user.name}} suis {% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<section class="bloc-full">
        <aside id="column-left" class="bloc-column-abs">
                <div class="bloc-title"></div>
                <ul class="bloc-link-column">
                    <li class="tab">
                        <a href="{{ path('app_user_showFollowers', {id: user.id})}}">Les abonnements de {{ user.name }}</a>
                    </li>
                </ul>
                <div class="bloc-space"></div>
        </aside>
        <section class="bloc-large-abs">
            <h1 class="bloc-title">
                    {{ user.name }} suis
            </h1>
                {% for following in followings %}
                    <a class="bloc-user-link" href="{{ path('app_user_show', {id: following.following.id})}}">
                            
                        <img class="profil" src="{{ asset('profil/' ~ following.following.imagesProfiles.name )}}" width="400px" alt="">
                        {{ following.following.name }}
                    </a>
                {% endfor %}
        </section>
    </section>
{% endblock %}