{% extends 'base.html.twig' %}

{% block title %}The Daily Workout{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<div class="bloc-full">

    <div id="arrow-right" class="arrow-right" href="">{{ include('svg/arrowright.html.twig') }}</div>
    <aside id="column-left" class="bloc-column-abs">
        <div class="bloc-title"></div>
        {{ include('home/team.html.twig') }}
        {{ include('home/_userChallenge.html.twig') }}
    </aside>
    <section class="bloc-actu">
        
        <div class="bloc-top">
            {{ include('form/post.html.twig') }}
            
        </div>
        {% for publi in post %}
        {% if publi.user is defined %}
        {{ include('home/post.html.twig') }}
        {% endif %}
        {% if publi.creatorChallenge is defined %}
        {{ include('home/_challenge.html.twig') }}
        {% endif %}
        {% endfor %}
        <div class="bloc-space"></div>
    </section>
    <aside id="column-right" class="bloc-column-abs-rg">
        <div class="bloc-title"></div>

        {{ include('home/notifications.html.twig') }}
        {{ include('home/workoutOfTheDay.html.twig') }}
        <div class="bloc-space"></div>
    </aside>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/user/tabs.js')}}"></script>
<script src="{{ asset('js/arrowright.js')}}"></script>
<script src="{{ asset('js/medals.js')}}"></script>
<script src="{{ asset('js/follow.js')}}"></script>
<script src="{{ asset('js/loadcomment.js')}}"></script>
<script src="{{ asset('js/deletecomment.js')}}"></script>
<script src="{{ asset('js/likes.js')}}"></script>
<script src="{{ asset('js/postcomment.js')}}"></script>
{% endblock %}

