    <h3>Partager sur :</h3>
    <div class="social-share">
        <div class="fb-share-button" data-href="https://the-daily-workout.com/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthe-daily-workout.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <h3>Dernières notifications</h3>
        {% for notification in notifications %}
            {% if notification.team != null %}
            <a href="{{ path('app_team_show', {id: notification.team.id })}}" class="bar-notif">
                {% if notification.image %}
                    <img class="profil" src="{{ asset('profil/' ~ notification.image)}}" alt="">
                    {% else %}
                    <img class="profil" src="{{ asset('images/login.png')}}" alt="">
                {% endif %}
                {{ notification.content}}
            </a>
            {% endif %}
            {% if notification.post != null %}
            <a href="{{ path('app_user_post_show', {id: notification.post.id })}}" class="bar-notif">
                {% if notification.image %}
                    <img class="profil" src="{{ asset('profil/' ~ notification.image)}}" alt="">
                    {% else %}
                    <img class="profil" src="{{ asset('images/login.png')}}" alt="">
                {% endif %}
                {{ notification.content}}
            </a>
            {% endif %}
            {% if notification.challenge != null %}
            <a href="{{ path('app_challenge_show', {id: notification.challenge.id })}}" class="bar-notif">
                {% if notification.image %}
                    <img class="profil" src="{{ asset('profil/' ~ notification.image)}}" alt="">
                    {% else %}
                    <img class="profil" src="{{ asset('images/login.png')}}" alt="">
                {% endif %}
                {{ notification.content}}
            </a>
            {% endif %}
            {% if notification.image == 'logo.png' %}
            <div class="bar-notif">
                <img class="profil" src="{{ asset('images/logo.png')}}" alt="">
                {{ notification.content}}
            </div>
            {% endif %}
            {% endfor %}