<div class="bloc-inner">
    {% if teams is empty %}
    <p class="message-info">Tu ne fais pas partie d'une team</p>
    {% else %}
    <p>Mes Teams</p>
    {% for team in teams %}
    <a class="bloc-user-link" href="{{ path('app_team_show', {id: team.id})}}">
            <img class="profil" src="{{ asset('profil/' ~ team.imagesProfiles.name)}}" height="100px" alt="">
            {{ team.name }}
    </a>
        {% for post in team.teamPosts | reverse | slice (0, 1) %}
        <div class="team-home-user">
                <img class="profil" src="{{ asset('profil/' ~ post.user.imagesProfiles.name)}}" alt="">
            <p>{{ post.user.name }}</p>
        </div>
        {% if post.content %}
            <p>{{ post.content | nl2br }}</p>
        {% endif %}
        {% if post.link %}
        <a target="_blank" href="{{ post.link }}">{{ post.link }}</a>
        {% endif %}
        {% if post.youtubeLink %}
        <iframe width="560" height="315" src="{{ post.youtubeLink | replace({'https://www.youtube.com/watch?v=' : 'https://www.youtube.com/embed/'})}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
        {% if post.image %}
        <img class="img-team-home-post" src="{{ asset('post/' ~ post.image.name)}}" alt="">
        {% endif %}
        {% endfor %}
{% endfor %}
{% endif %}
</div>
