{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<div class="body-log">
    <section class="form-loggin">
        <div class="form-presentation">
            <div class="form-presentation-bloc">
                <h1 class="form-presentation-sentence">Rejoins un réseau social dédié les sportifs.</h1>
                <img src="{{ asset('images/crossfit.jpg')}}" alt="">
            </div>
            <div class="form-presentation-bloc">
                <h2 class="form-presentation-sentence">Fais partie d une team qui te ressemble</h3>

                <img src="{{ asset('images/sprint.jpg')}}" alt="">
            </div>
        <div class="form-presentation-bloc">
            <img src="{{ asset('images/yoga.jpg')}}" alt="">
            <h2 class="form-presentation-sentence">Créer tes propres entraînements, partages et réalises ceux des autres membres</h2>
        </div>
        <div class="form-presentation-bloc">
            <img src="{{ asset('images/natation.jpg')}}" alt="">
            <h2 class="form-presentation-sentence">Challenges les autres et releves des défis</h3>
                </div>
            </div>
            
            {{ form_start(registrationForm) }}
            <h1>Se créer un compte</h1>
        <div class="img-loggin">
            <img src="{{ asset('images/logo.png')}}" alt="">
        </div>
            <h3>Prenez en main vos exploits</h3>
            <label for="inputEmail">Email</label>
            {{ form_row(registrationForm.email, {
                label: false
            }) }}
            <label for="inputEmail">Password</label>
            {{ form_row(registrationForm.plainPassword, {
                label: false
            }) }}
            <label for="inputEmail">Nom d'utilisateur</label>
            {{ form_row(registrationForm.name, {
                label: false
            }) }}
            <p>En cochant cette case, je reconnais avoir pris connaissance des <a href="{{ path('app_reglement')}}">conditions d'utilisations</a>, de la <a href="{{ path('app_politique')}}">politique de confidentialité</a> et accepte les conditions pour utiliser Daily Workout.</p> <br>
            
            <div class="checkbox">
                <p>J'accepte les conditions générale d'utilisation.</p>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            
            <button type="submit" class="btmain">Créer son compte</button>
            {{ form_end(registrationForm) }}
            <div class="bloc-space"></div>

    </section>
</div>

{% endblock %}
