{% extends 'base.html.twig' %}

{% block title %}ArticleCategory index{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<section class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
                <li class="btvalid">
                    <a href="{{ path('app_admin_article_category_new') }}">Create new</a>
                </li>
            </ul>
        </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title"></h2>
        {% for article_category in article_categories %}
            <tr>
                <td>{{ article_category.id }}</td>
                <td>{{ article_category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_article_category_show', {'id': article_category.id}) }}">show</a>
                    <a href="{{ path('app_admin_article_category_edit', {'id': article_category.id}) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
    </section>
</section>

{% endblock %}
