<div class="workout-list">
{% for workouts in app.user.workoutFavs %}
        <div class="workout-bloc">
            <div class="workout-bar">
                <div class="{{ workouts.workout.level}}">difficulté : {{ workouts.workout.level }}</div>

                    <a class="row" href="{{ path('app_user_show', {id: workouts.workout.user.id })}}">
                        <img class="profil" src="{{ asset('profil/' ~ workouts.workout.user.imagesProfiles.name)}}" alt="">
                        {{ workouts.workout.user.name }}
                    </a>
                    <div class="workout-info">
                        <a href="{{ path('app_workout_show', {id: workouts.workout.id})}}">
                            <h4>{{ workouts.workout.name }}</h4>
                        </a>
                    </div>
                <a data-id="{{ workouts.workout.id }}" id="js-workout-like" href="{{ path('app_workout_fav', {id: workouts.workout.id})}}">
                    {% if workouts.workout.isFavsByUser(app.user) and app.user %}
                        <span id="star{{workouts.workout.id}}" class="svg-star">{{ include('svg/star.html.twig') }}</span>
                        {% else %}
                        <span id="star{{workouts.workout.id}}" class="svg-empty">{{ include('svg/star.html.twig') }}</span>
                    {% endif %}
                </a>
                <span class="dropdown svg-workout">{{ include('svg/gears.html.twig') }}
                    <div class="dropdown-content-workout">
                        <div class="dropdown-bloc">
                        {% if app.user.id != workouts.workout.user.id %}
                        <button class="btblue">
                            <a href="{{ path('app_workout_duplicate', {id: workouts.workout.id})}}">Modifier pour moi</a>
                        </button>
                            {% else %}
                        <button class="btblue">
                            <a href="{{ path('app_workout_edit', {workout: workouts.workout.id})}}">Modifier</a>
                        </button>
                        {% endif %}
                        </div>
                    </div>
                </span>
                <span class="dropdown svg-workout">{{ include('svg/cross.html.twig') }}
                    <div class="dropdown-content">
                        <div class="dropdown-bloc">
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_monday', {workout: workouts.workout.id})}}">Lundi</a>
                            </div>
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_tuesday', {workout: workouts.workout.id})}}">Mardi</a>
                            </div>
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_wednesday', {workout: workouts.workout.id})}}">Mercredi</a>
                            </div>
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_thursday', {workout: workouts.workout.id})}}">Jeudi</a>
                            </div>
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_friday', {workout: workouts.workout.id})}}">Vendredi</a>
                            </div>
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_saturday', {workout: workouts.workout.id})}}">Samedi</a>
                            </div>
                            <div class="item-dropdown">
                                <a href="{{ path('app_user_program_sunday', {workout: workouts.workout.id})}}">Dimanche</a>
                            </div>
                        {# {{ include('user/workout/_delete_form.html.twig') }} #}
                    </div>
                 </div>
                </span>
            </div>

        {% for exercice in workouts.workout.exercicePersos %}
        <div class="exercice-bloc">
                    <div class="exercice-img">
                            <img src="{{ asset('exercice/' ~ exercice.exercice.imageSystem.name)}}" width="100px" alt="">
                    </div>
                    <div class="exercice-detail">
                        <p class="exercice-name">{{ exercice.exercice.name }}</p>
                        {% if exercice.quantity is empty %}
                        {% else %}
                        <p class="exercice-reps">
                            {{ exercice.quantity }}
                            {{ exercice.effortType }}<br>
                        {% endif %}
                        {% if exercice.Rest is empty %}
                        {% else %}
                        Repos : {{ exercice.Rest }}</p>
                        {% endif %}
                        {% if exercice.content is empty %}
                        {% else %}
                        <div class="exercice-hover">détails
                            <div class="exercice-content">
                                <p>{{ exercice.content }}</p>
                                <a href="#">lien vers une video</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
    </div>
        {% endfor %}
</div>
