{% extends 'base.html.twig' %}

{% block title %}Mon programme{% endblock %}
{% block body %}
<div id="arrow-left" class="arrow open" href="">{{ include('svg/arrowleft.html.twig') }}</div>
<div id="arrow-right" class="arrow-right hidden" href="">{{ include('svg/arrowright.html.twig') }}</div>

    <section class="bloc-full">
        <aside id="column-left" class="bloc-column-abs open">
        <div class="bloc-title">
            <h2>Mes workout</h2>
        </div>
            <ul class="bloc-link-column">
                <li>
                        <a class="btblue" href="{{ path('app_workout_new')}}">Nouveau workout</a>
                </li>
                <li class="tab" data-target="#content4">
                    Notre sélection
                </li>
                <li class="active tab" data-target="#content1">
                    Mes workouts
                </li>
                <li class="tab" data-target="#content2">
                    Favoris
                </li>
                <p id="search" class="tab" data-target="#content3">
                    Rechercher
                </p>
                <div id="bloc-column-filter" class="hidden">
                    {# {{ include('component/radio_form_select_workout.html.twig') }} #}

                    <div data-id="-muscle" class="accordion">Par zones travaillées</div>
                    <div class="panel" id="panel-muscle">
                        {{ include('component/_select_form_muscle.html.twig') }}
                    </div>
                    <div data-id="-sport" class="accordion">Pour quel sport</div>
                    <div class="panel" id="panel-sport">
                        {{ include('component/_select_group_sport.html.twig') }}
                    </div>
                </div>
            </ul>

    </aside>
        <section class="bloc-actu">
            <div class="content" id="content4">
                <h2 class="bloc-title">Notre sélection.</h2>
                <p class="text-middle">Retrouves ici les derniers workouts que nous avons ajouté. <br> Renseignes dans ton profil les sports qui t'intéressent, nous te proposerons des entrainements adaptés.</p>
                {{ include('user/program/_workoutSelection.html.twig') }}
                <div class="bloc-space"></div>
            </div>
            <div class="content" id="content1">
                    <h2 class="bloc-title">La liste de mes workout</h2>
                    {{ include('user/program/_workoutList.html.twig') }}
                    <div class="bloc-space"></div>
            </div>
            <div class="content" id="content2">
                <h2 class="bloc-title">Mes workouts favoris</h2>
                {{ include('user/program/_workoutFav.html.twig') }}
                <div class="bloc-space"></div>

            </div>
            <div class="content" id="content3">
                <h2 class="bloc-title">Rechercher un workout</h2>
                <div id="content">
                    {{ include('user/program/_workoutSearch.html.twig') }}
                </div>
                <div class="bloc-space"></div>

            </div>
        </section>
        <aside id="column-right" class="bloc-column-abs-rg">
            {{ include('user/program/_weekview.html.twig') }}
        </aside>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/workout/filter.js')}}"></script>
    <script src="{{ asset('js/workoutFav.js')}}"></script>

    <script src="{{ asset('js/arrowright.js')}}"></script>
    <script src="{{ asset('js/user/tabs.js')}}"></script>
    <script src="{{ asset('js/search/appearFilter.js')}}"></script>
    <script src="{{ asset('js/search/searchWorkout.js')}}"></script>
    <script src="{{ asset('js/search/searchWorkoutBySport.js')}}"></script>
{% endblock %}