{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section class="bloc-full">
    <aside class="bloc-column-abs" id="column-left">
        <h1 class="bloc-title">Nous contacter</h1>
            <div class="bloc-link-column">
                <ul>
                    <li>
                        <a href="{{ path('app_mentions')}}">Mentions légales</a>
                    </li>
                    <li>
                        <a href="{{ path('app_reglement')}}">Réglement de DailyWorkout</a>
                    </li>
                    <li>
                        <a href="{{ path('app_politique')}}">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="{{ path('app_contact')}}">Nous contacter</a>
                    </li>
                    {% if user is null %}
                    <li>
                        <a href="{{ path('app_register')}}">Créer un compte</a>
                    </li>
                    <li>
                        <a href="{{ path('app_login')}}">Se connecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Mentions légales</h2>
        <div class="text-middle">
            <p>L'adresse de notre site Web est https://the-daily-workout.com</p>
            <h3>Informations sur l'éditeur du site</h3>
            <p>Impulse Web Design</p>
            <p>Email : impulsewebdeisgn89@gmail.com</p>
            <p>4 rue de la queue du loup</p>
            <p>89500 Villeneuve sur Yonne</p>
            <p>France</p>

            <p>Les informations de la société sont disponible sur le site société.com</p>
            <p>Pour en savoir plus sur moi vous pouvez consulter mon profil LinkedIn au nom de Robert Jérôme.</p>
            <h3>Hébergement du site</h3><br>
            <p>Les données sont stockées sur OVH, un hébergeur français.</p>
            <p>OVH <br>
            2 rue Kellermann BP 80157 59053 <br>
            ROUBAIX CEDEX 1 - FRANCE</p>

            <h3>Utilisations des cookies</h3>
            <p>Nous utilisons Google Analytics sur le site pour suivre l'audience</p>

        </div>
    </section>
</section>
{% endblock %}
