<h2>
    Liste des exercices
</h2>
    <div class="gallery" id="{{ workout.id }}">
            {% for exercice in exercices %}
            <div class="card">
                <h3>
                    {{ exercice.name }}
                </h3>
                <div class="card-img">
                    {% if exercice.imageSystem is empty %}
                    <p>Pas d'image enregistré</p>
                    {% endif %}
                    <img src="{{ asset('exercice/' ~ exercice.imageSystem.name)}}" width="400px" alt="">
                </div>
                <div class="card-a">
                    <a data-exercice="{{exercice.id}}" data-workout="{{workout.id}}" class="js-exercice-link" href="{{ path('app_workout_perso_adding', {id: exercice.id, workout: workout.id})}}">Ajouter</a>
                </div>
            </div>
            {% else %}
                <h3>Pas d'enregistrement trouvé</h3>
            {% endfor %}
    </div>