{{ form_start(form) }}
        <label for="">Nom du workout</label>
        {{ form_row(form.name) }}
        <label for="">Nombre de tours</label>
        {{ form_row(form.rounds) }}
        <label for="">Détails du workout</label>
        {{ form_row(form.content) }}
        <label for="">Difficulté du workout</label>
        {{ form_row(form.difficulty) }}
    <p>Ensuite vous pourrez choisir les exercices que vous souhaitez ajouter à votre entrainement</p>
    <button class="btmain">{{ button_label|default('Étape suivant') }}</button>
{{ form_end(form) }}