{% extends 'base.html.twig' %}

{% block title %}Ajouter des exercices{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<div class="bloc-full">
        <aside id="column-left" class="bloc-column-abs">
            <h1 class="bloc-title">Filtrer les exercices</h1>
                    <ul class="bloc-link-column">
                        <li class="active tab" data-target="#content1">
                            Notre sélection d'exercices
                        </li>
                        <li id="search" class="tab" data-target="#content2">
                            Trouver d'autres exercices
                        </li>
                    </ul>
                    <div id="bloc-column-filter" class="hidden">
                        {{ include('component/checkbox_form_select_exercice.html.twig') }}
                    </div>
                        <button class="btvalid" href="{{ path('app_workout_edit', {workout: workout.id})}}">
                            <a href="{{ path('app_workout_edit', {workout: workout.id})}}">
                                Étape suivante {{ include('svg/checkmark.html.twig') }}
                            </a>
                        </button>
                        
                    <div class="bloc-space"></div>
        </aside>
        <section class="bloc-large-abs">
            <div class="bloc-title"></div>
            <p class="text-middle">
                Maintenant, ajoutes des exercices parmis ceux que nous t'avons sélectionné. Si tu ne trouves pas ce qu'il te faut, cliques dans la colonne de gauche sur trouver d'autres exercices et accèdes à la bibliothèque.
            </p>
            <h2>Exercices ajoutés</h2>
        <div class="workout-list-exercice">
            {% for exercices in workout.exercicePersos %}
            <div class="card delete-exercice" data-exercice="{{ exercices.id }}">
                <h3>{{ exercices.exercice.name}}</h3>
                <div class="card-img">
                    {% if exercices.exercice.imageSystem is empty %}
                    <p>Pas d'image enregistré</p>
                    {% endif %}
                    <img src="{{ asset('exercice/' ~ exercices.exercice.imageSystem.name)}}" width="400px" alt=" image de {{exercices.exercice.name}}">
                </div>
                <div class="card-a">
                    {{ include('user/workout/_delete_exercice.html.twig') }}
                </div>
            </div>
                
            {% endfor %}
        </div>
        <div class="content" id="content1">
            <h2>Nos exercices sélectionnés pour toi</h2>
            <div class="workout-list-select">
                {{ include('user/workout/_selections.html.twig') }}
            </div>
        </div>
        <div class="content" id="content2">
            <h2>
                Liste des exercices
            </h2>
            <div class="workout-list-select" id="content">
                {{ include('user/workout/_content_step2.html.twig') }}
            </div>
        </div>

        </section>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/workout/remove_exercice.js')}}"></script>
<script src="{{ asset('js/workout/add_exercice.js')}}"></script>
<script src="{{ asset('js/radio.js')}}"></script>
<script src="{{ asset('js/user/tabs.js')}}"></script>
<script src="{{ asset('js/search/appearFilter.js')}}"></script>
<script src="{{ asset('js/workout/filter.js')}}"></script>
{% endblock %}