{% extends 'base.html.twig' %}

{% block title %}Ajouter des exercices{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<div class="bloc-full">
        <aside id="column-left" class="bloc-column-abs">
            <h1 class="bloc-title">Filtrer les exercices</h1>
                    <ul class="bloc-link-column">
                        <li class="active tab" data-target="#content1">
                            Notre sélection d'exercices
                        </li>
                        <li id="search" class="tab" data-target="#content2">
                            Exercices
                        </li>
                        <ul id="bloc-column-filter" class="hidden">
                            <div class="accordion" data-id="-category">Catégorie d'exercice</div>
                            <div class="panel" id="panel-category">
                                
                                {% for categories in category %}
                                <li class="btmain">
                                        <a class="js-category" href="{{ path('app_workout_category', {id: categories.id})}}">{{ categories.name }}</a>
                                </li>
                                {% endfor %}
                            </div>
                            <div class="accordion" data-id="-muscles">Groupe musculaire</div>
                            <div class="panel" id="panel-muscles">
                                {% for muscle in muscles %}
                                <li class="btmain">
                                        <a class="js-muscle" href="{{ path('app_workout_muscle', {id: muscle.id})}}" data-id="{{ muscle.id }}">{{ muscle.name }}</a>
                                </li>
                                {% endfor %}
                            </div>
                            <div class="accordion" data-id="-sports">Liste des sports</div>
                            <div class="panel" id="panel-sports">

                                {% for sport in sports %}
                                <li class="btmain">
                                    <a class="js-sports" href="{{ path('app_workout_sport', {id: sport.id})}}" data-id="{{ sport.id }}">{{ sport.name }}</a>
                                </li>
                                {% endfor %}
                            </div>
                        </ul>
                        {# <div id="bloc-column-filter" class="">
                            {{ include('component/checkbox_form_select_exercice.html.twig') }}
                        </div> #}
                        <div class="bloc-space"></div>
                    </ul>
                        
        </aside>
        <section class="bloc-large-abs">
            <div class="bloc-title"></div>
            <p class="text-middle">
                Maintenant, ajoutes des exercices parmis ceux que nous t'avons sélectionné. Si tu ne trouves pas ce qu'il te faut, cliques dans la colonne de gauche sur trouver d'autres exercices et accèdes à la bibliothèque.
            </p>
            <h2>Exercices ajoutés  <button class="btvalid" href="{{ path('app_workout_edit', {workout: workout.id})}}">
                <a href="{{ path('app_workout_edit', {workout: workout.id})}}">
                    <div class="row">
                        Étape suivante {{ include('svg/checkmark.html.twig') }}
                    </div>
                </a>
            </button></h2>
            
        <div class="workout-list-exercice">
            {% for exercices in workout.exercicePersos %}
            <div class="card delete-exercice" data-exercice="{{ exercices.id }}">
                <h3>{{ exercices.exercice.name}}</h3>
                <div class="card-img">
                    {% if exercices.exercice.imageSystem is empty %}
                    <p>Pas d'image enregistré</p>
                    {% endif %}
                    <img src="{{ asset('exercice/' ~ exercices.exercice.imageSystem.name)}}" width="400px" alt=" image de {{exercices.exercice.name}}">
                </div>
                <div class="card-a">
                    {{ include('user/workout/_delete_exercice.html.twig') }}
                </div>
            </div>
                
            {% endfor %}
        </div>
        <div class="content" id="content1">
            <h2>Nos exercices sélectionnés pour toi</h2>
            <div class="workout-list-select">
                {{ include('user/workout/_selections.html.twig') }}
            </div>
        </div>
        <div class="content" id="content2">
            <h2>
                Liste des exercices
            </h2>
            <div class="gallery" id="{{workout.id}}">

            </div>
            {# <div class="workout-list-select" id="content">
                {{ include('user/workout/_content_step2.html.twig') }}
            </div> #}
        </div>

        </section>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/workout/remove_exercice.js')}}"></script>
<script src="{{ asset('js/workout/add_exercice.js')}}"></script>
<script src="{{ asset('js/radio.js')}}"></script>
<script src="{{ asset('js/user/tabs.js')}}"></script>
<script src="{{ asset('js/search/appearFilter.js')}}"></script>
<script src="{{ asset('js/workout/filter_category.js')}}"></script>
<script src="{{ asset('js/workout/filter_muscle.js')}}"></script>
<script src="{{ asset('js/workout/filter_sports.js')}}"></script>
<script src="{{ asset('js/workout/filter.js')}}"></script>
{% endblock %}