{% extends 'base.html.twig' %}

{% block title %}Ajouter des exercices{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<div class="bloc-full">
        <aside id="column-left" class="bloc-column-abs">
            <h1 class="bloc-title">Filtrer les exercices</h1>
                <div class="bloc-link-column">
                    {{ include('component/checkbox_form_select_exercice.html.twig') }}
                    

                    <div class="btvalid">
                        <a href="{{ path('app_workout_edit', {workout: workout.id})}}">Étape suivante</a>
                    </div>
                    <div class="bloc-space"></div>
                </div>
        </aside>
        <section class="bloc-large-abs">
        <h2 class="bloc-title">Exercices selectionnés</h2>
        <div class="workout-list-exercice">
            {% for exercices in workout.exercicePersos %}
            <div class="card">
                <h3>{{ exercices.exercice.name}}</h3>
                <div class="card-img">
                    {% if exercices.exercice.imageSystem is empty %}
                    <p>Pas d'image enregistré</p>
                    {% endif %}
                    <img src="{{ asset('exercice/' ~ exercices.exercice.imageSystem.name)}}" width="400px" alt="">
                </div>
                <div class="card-a">
                    {{ include('user/workout/_delete_exercice.html.twig') }}
                </div>
            </div>
                
            {% endfor %}
        </div>
        <div class="workout-list-select" id="content">
            {{ include('user/workout/_content_step2.html.twig') }}
        </div>
        </section>
</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/workout/add_exercice.js')}}"></script>
<script src="{{ asset('js/radio.js')}}"></script>
<script src="{{ asset('js/workout/filter.js')}}"></script>
{% endblock %}