{# category #}
{# <form action="" id="filters"> #}

    
<form action="" id="filters">
    <div class="accordion" data-id="-category">Famille d'exercices</div>
        <div class="panel" id="panel-category">
                {% for categorie in category %}
                <input type="radio" name="category[]" id="cat{{ categorie.id}}" value="{{categorie.id}}">
                <label class="radio-select" for="cat{{categorie.id}}">{{ categorie.name}}</label>
                {% endfor %}
        </div>

{# muscles #}
    <div class="accordion" data-id="-muscle">Groupe musculaire</div>
        <div class="panel" id="panel-muscle">
            {% for muscle in muscles %}
                    <input type="radio" name="muscles[]" id="muscles{{ muscle.id}}" value="{{muscle.id}}">
                    <label class="radio-select" for="muscles{{muscle.id}}">{{ muscle.name}}</label>
            {% endfor %}
        </div>

{# sports #}
    <div class="accordion" data-id="-sports">Sport</div>
        <div class="panel" id="panel-sports">
            {% for sport in sports %}
                    <input type="radio" name="sports[]" id="sports{{ sport.id}}" value="{{sport.id}}">
                    <label class="radio-select" for="sports{{sport.id}}">{{ sport.name}}</label>
            {% endfor %}
        </div>
</form>
