{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow open" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<div class="bloc-full">
    <aside id="column-left" class="bloc-column-abs open">
        <h2 class="bloc-title">Mes conversations</h2>
        {% for conversation in conversations %}
            {% if conversation.userA.id == app.user.id %}
                <a class="bloc-user-link" href="{{ path('app_conversation_show', {id: conversation.id})}}">
                        <div class="row">
                            {% if conversation.userB.imagesProfiles is empty %}
                            <img class="profil dropdown" src="{{ asset('images/login.png')}}" alt="">
                            {% else %}
                            <img class="profil" src="{{ asset('profil/' ~ conversation.userB.imagesProfiles.name)}}" alt="">
                            {% endif %}
                        {{ conversation.userB.name}}
                    </div>
                    </a>
                {% else %}
                <div class="bloc-user-link">
                    <a href="{{ path('app_conversation_show', {id: conversation.id})}}">
                        <div class="row">
                            {% if conversation.userA.imagesProfiles is empty %}
                            <img class="profil dropdown" src="{{ asset('images/login.png')}}" alt="">
                            {% else %}
                            <img class="profil" src="{{ asset('profil/' ~ conversation.userA.imagesProfiles.name)}}" alt="">
                            {% endif %}
                            {{ conversation.userA.name}}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </aside>
    <div class="bloc-large-abs">
                <article class="message-middle">
                    <h3>Messagerie</h3> <br><br>
                    <p>Choisis une conversation et envoie des messages privés à qui tu le souhaites.</p>
                </article>
                <div id="message-list" class="message-conversation">
                </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/loadmessage.js')}}"></script>
<script src="{{ asset('js/message.js')}}"></script>
<script src="{{ asset('js/check_message.js')}}"></script>

{% endblock %}