{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div id="help" class="help-background hidden">
    <div class="help-content">
        <div id="close-help" class="help-close">{{ include('svg/deletecross.html.twig') }}</div>
        <h1 class="help-title">Bienvenue sur Daily Workout</h1>
        <p>Pour commencer nous vous conseillons d'aller sur l'onglet de votre profil</p>
        <p>Dans le menu déroulant sous votre profil vous trouverez les accès à différentes partie.</p>
        <ul>
            <li>L'accés à votre profil</li>
            <li>Votre espace programme</li>
            <li>L'accés à l'espace Challenge ainsi que l'espace Team</li>
            <li>Le portail des sports</li>
        </ul>
    </div>
</div>
<div class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h2 class="bloc-title">Mes conversations</h2>
        {% for conversation in conversations %}
            {% if conversation.userA.id == app.user.id %}
            <div class="bloc-user-link">
                <a href="{{ path('app_conversation_show', {id: conversation.id})}}">
                        <div class="row">
                            {% if conversation.userB.imagesProfiles is defined %}
                            <img class="profil" src="{{ asset('profil/' ~ conversation.userB.imagesProfiles.name)}}" alt="">
                            {% else %}
                            <img class="profil dropdown" src="{{ asset('images/login.png')}}" alt="">
                            {% endif %}
                        {{ conversation.userB.name}}
                    </div>
                    </a>
            </div>
                {% else %}
                <div class="bloc-user-link">
                    <a href="{{ path('app_conversation_show', {id: conversation.id})}}">
                        <div class="row">
                            {% if conversation.userA.imagesProfiles is defined %}
                            <img class="profil" src="{{ asset('profil/' ~ conversation.userA.imagesProfiles.name)}}" alt="">
                            {% else %}
                            <img class="profil dropdown" src="{{ asset('images/login.png')}}" alt="">
                            {% endif %}
                            {{ conversation.userA.name}}
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </aside>
    <div class="bloc-large-abs">
                <article class="message-middle">
                    <h3>Messagerie</h3> <br><br>
                    <p>Choisissez une conversation et envoyer des messages privés à qui vous le souhaitez.</p>
                </article>
                <div id="message-list" class="message-conversation">
                </div>
    </div>

</div>

{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/loadmessage.js')}}"></script>
<script src="{{ asset('js/message.js')}}"></script>
{% endblock %}