<!DOCTYPE html>
<html>
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('/images/logo.png')}}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4YCG14Z8QL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4YCG14Z8QL');
</script>
    </head>
    <body>
        <div class="block-body">
            
        {% if is_granted('ROLE_USER') %}
        <header>
            <ul class="nav">
                <li><a href="{{ path('home')}}"><img src="{{ asset('/images/logo.png')}}" alt=""></a></li>
                <li class="svg-menu"><a href="{{ path('app_search')}}">{{ include('svg/wen.html.twig') }}</a></li>
                <li class="svg-menu"><a href="{{ path('app_message')}}">{{ include('svg/message.html.twig') }}</a></li>
                <li class="dropdown">
                    <img class="profil dropdown" src="{{ asset('profil/' ~ app.user.imagesProfiles.name)}}" alt="">
                    <div class="dropdown-content">
                        <div class="item-dropdown">
                            <a href="{{ path('app_user_show', {id: app.user.id})}}">Mon profil</a>
                        </div>
                        <div class="item-dropdown">
                            <a href="{{ path('app_user_program')}}">Mon programme</a>
                        </div>
                        <div class="item-dropdown">
                            <a href="{{ path('app_challenge_index')}}">Challenge</a>
                        </div>
                        <div class="item-dropdown">
                            <a href="{{ path('app_team_index')}}">Teams</a>
                        </div>
                    </div>
                </li>
                <li class=" svg-menu dropdown">{{ include('svg/menu.html.twig') }}</a>
                    <div class="dropdown-content">
                        <div class="item-dropdown">
                            <a href="{{ path('app_user_system', {id: app.user.id})}}">Paramètre du compte</a>
                        </div>
                        <div class="item-dropdown">
                            <a href="{{ path('app_logout')}}">Déconnexion</a>
                        </div>
                        <div class="item-dropdown">
                            {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('app_admin')}}">espace admin</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {# <li>
                    <div id="help-toggle" class="help-toggle"> ? </div>
                </li> #}
            </ul>
            
        </header>
        {% for message in app.flashes('success') %}
                <p class="flash-message">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        {% block body %}{% endblock %}
    </div>
    
    <div class="bloc-space"></div>
        <footer class="row">
            <a href="{{ path('app_mentions')}}">Mentions légales</a>
            <a href="{{ path('app_politique')}}">Politique de confidentialité</a>
            <a href="{{ path('app_reglement')}}">Réglement</a>
            <a href="{{ path('app_contact')}}">Nous contacter</a>
            <a target="_blank" href="https://impulse-web-design.com/">Site dévellopé par : ImpulseWebDesign</a>
        </footer>
        <script type="text/javascript" src="https://cookieconsent.popupsmart.com/src/js/popper.js"></script><script> window.start.init({Palette:"palette2",Mode:"floating right",Theme:"edgeless",Location:"https://the-daily-workout.com/politique",LinkText:"En savoir plus ! ",Message:"Ce site utilise des cookies pour vous assurez une meilleure expérience",ButtonText:"Ok pour moi ! ",Time:"5",})</script>
    </body>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4YCG14Z8QL"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v15.0" nonce="2LkppFcN"></script>

            <script src="{{ asset('js/imgPreview.js')}}"></script>
            <script src="{{ asset('js/help.js')}}"></script>
            <script src="{{ asset('js/arrowleft.js')}}"></script>
            <script src="{{ asset('js/modal.js')}}"></script>
            <script src="{{ asset('js/checkbox.js')}}"></script>
            <script src="{{ asset('js/accordion.js')}}"></script>
</html>
