{% extends 'base.html.twig' %}

{% block title %}Liste des exercices{% endblock %}

{% block body %}
<div id="arrow-left" class="arrow" href="">{{ include('svg/arrowleft.html.twig') }}</div>

<section class="bloc-full">
    <aside id="column-left" class="bloc-column-abs">
        <h1 class="bloc-title"></h1>
        <div class="bloc-link-column">
            <ul>
                <li>
                    <a href="{{ path('app_admin') }}">retour</a>
                </li>
                <li>
                    <a href="{{ path('app_admin_exercice_new') }}">Nouveau</a>
                </li>
            </ul>
        </div>
    </aside>
    <section class="bloc-large-abs">
        <h2 class="bloc-title">Liste des exercices</h2>
    <div class="gallery">
        {% for exercice in exercices %}
        <a href="{{ path('app_admin_exercice_edit', {'id': exercice.id}) }}">
        <div class="card">
            <h3>
                {{ exercice.name }}
            </h3>
            <div class="card-img">
                {% if exercice.imageSystem is empty %}
                <p>Pas d'image enregistré</p>
                {% else %}
                <img src="{{ asset('exercice/' ~ exercice.imageSystem.name)}}" width="400px" alt="">
                {% endif %}
            </div>
            <div class="card-a">
                Modifier
            </div>
        </div>
    </a>
        {% else %}
            <h3>Pas d'enregistrement trouvé</h3>
        {% endfor %}
    </div>
    </section>
</section>

    

{% endblock %}
